/* reset */
* {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font:400 1.8rem/1, 'Nunito', sans-serif;
}

/*  Main */
:root {
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}
body #container {
    max-width: 750px;
    border-radius: 20px;

    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
}
header ul {
    background-color: rgb(233, 233, 127);
}
header li {
    display: inline;
}
header li a {
    color: rgb(18, 18, 19);
    padding: 3vh 20px;
    display: inline-block;

    font-size: 2.0rem;
}

main > * {
    height: 100vh;
    padding-top: 10vh;
}


#quemsoueu {
    background-color:rgb(212, 209, 209);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25vh 65vh;
    grid-template-areas: "a b b"
                         "a c c";
}
#quemsoueu div {
    width: 100%;
}
#quemsoueu .imagem {
    grid-area: a;
    background-color: blue;

    display: flex;
    align-items: center;
}
#quemsoueu .imagem img {
    width: 80%;
    height: 80%;
    height: auto;
    border: 1px solid black;
}
#quemsoueu .social {
    grid-area: b;
    background-color: blueviolet;

    display: flex;
    align-items: center;
}
#quemsoueu .texto {
    grid-area: c;
    background-color: aliceblue;
    text-align: justify;
    padding: 10px;
    font-size: 1.9rem;
    text-indent: 20%;
    line-height: 2rem;
}

#meutrabalho {
    background-color:rgb(150, 145, 145);
}

#portifolio {
    background-color:rgb(78, 64, 64);
}

#creditos {
    background-color:rgb(255, 62, 62);
}