/* reset */
* {
    margin: 0 auto;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    font:400 1.8rem/1, 'Nunito', sans-serif;
}

/*  Main */
:root {
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}
body #container {
    max-width: 750px;
    border-radius: 20px;
}

header {
    position: fixed;
    width: 100%;
}
header ul {
    background-color: rgb(233, 233, 127);
}
header li {
    display: inline;
}
header li a {
    color: rgb(18, 18, 19);
    padding: 3vh 20px;
    display: inline-block;

    font-size: 2.0rem;
}
header li a:visited {
    color: rgb(155, 83, 83); /* Define a cor padrão dos links visitados */
}
header li a:active {
    color: #f00; /* Define a cor de destaque para o link ativo */
    font-weight: bold; /* Define a formatação para o link ativo */
}


main > * {
    height: 100vh;
    padding-top: 10vh;
}


#quemsoueu {
    background-color:rgb(212, 209, 209);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35vh 55vh;
    grid-template-areas: "b c c"
                         "b d d";
}
#quemsoueu div {
    width: 100%;
}
#quemsoueu .titulo {
    grid-area: a;
    background-color: aqua;
}
#quemsoueu .imagem {
    grid-area: b;
    background-color: blue;
}
#quemsoueu .social {
    grid-area: c;
    background-color: blueviolet;
}
#quemsoueu .texto {
    grid-area: d;
    background-color: aliceblue;
}

#meutrabalho {
    background-color:rgb(150, 145, 145);
}

#portifolio {
    background-color:rgb(78, 64, 64);
}

#creditos {
    background-color:rgb(255, 62, 62);
}

footer {
    background-color: black;
    color: bisque;
    border-radius: 0 0 50% 50%;
    height: 20px;
}